# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django junk
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.mo
*.db
*.dump
*.bak
*.sql

# Ignore compiled and build assets
*.so
*.manifest
*.spec

# Virtualenvs
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
intrapalenv/

# Package Managers
pip-log.txt
pip-delete-this-directory.txt
poetry.lock
Pipfile.lock

# Docker-related
*.pid
*.seed
*.tar
*.sock
docker-compose.override.yml
volumes/

# Test-related
coverage.xml
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
test-results/

# IDEs and OS junk
.vscode/
.idea/
*.swp
*.swo
*.DS_Store
*.AppleDouble
*.LSOverride
*.orig
*.sublime-*
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# Secrets
.env.*
*.key
*.pem
*.crt
*.enc

# Build / dist
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# MyPy / Pyright
.mypy_cache/
.dmypy.json
.pyright/
.pyre/

# Django migrations (EXCLUDE compiled but keep __init__)
**/migrations/**/*
!**/migrations/__init__.py
